@font-face {
    font-family: SFO_Light;
    src: url(/SanFranciscoFont/SanFranciscoDisplay-Light.otf);
}

@font-face {
    font-family: SFO_Medium;
    src: url(/SanFranciscoFont/SanFranciscoDisplay-Medium.otf);
}

@font-face {
    font-family: SFO_Regular;
    src: url(/SanFranciscoFont/SanFranciscoDisplay-Regular.otf);
}

@font-face {
    font-family: SFO_Semibold;
    src: url(/SanFranciscoFont/SanFranciscoDisplay-Semibold.otf);
}
@font-face {
    font-family: SFO_Bold;
    src: url(/SanFranciscoFont/SanFranciscoDisplay-Bold.otf);
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SFO_Light, arial;
    scroll-behavior: smooth;
    color: white;
}

li, a, p {
    font-family: SFO_Light, arial;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 17%;
    background-color: rgba(34, 34, 34, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(86, 171, 254);
}

.name {
    color: #48baaf;
    transition: all 0.3s ease 0s;
}

.surname {
    transition: all 0.3s ease 0s;
}

.surname:hover {
    color: rgb(255, 255, 49);
}

.name:hover {
    color: rgb(168, 78, 213);
}

a > div {
    display:inline-block;
    font-family: SFO_Medium;
    font-size: 21px;
}

.space {
    background: #141414;
    height: 66px;
}

/* ----------------------------- */

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage > div {
    flex: 500px;
    width: 100%;
    /* background-color: #ddd; */
}

.about_section {
    background: #141414;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(#60CFAF, #83E2A9); */
}

.about_component { 
    background: linear-gradient(278.33deg,rgb(32, 96, 215) 7%, rgb(135, 176, 253)99%);
    border-radius: 10px;
    width: 70%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;
    grid-auto-flow: row;
}
  
.about_component_title { 
    grid-area: 1 / 1 / 3 / 2;
}


.about_component_content {  
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "about_component_info about_component_image";
    grid-area: 2 / 1 / 3 / 2;
    font-size: 12px;
}

.about_component_info {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "about_component_text"
        "about_component_skills";
    grid-area: about_component_info;
}

.about_component_text { grid-area: about_component_text; }

.about_component_skills { 
    grid-area: about_component_skills; 
    font-size: 16px;
}

.about_component_image { grid-area: about_component_image; }
  
.about_component_image img {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.projects_section {
    background-image: linear-gradient(#83E2A9, #ACF4A2);
}

.contact_section {
    background-image: linear-gradient(#ACF4A2, #ffffff);
}


/* .homepage div:nth-child(odd) {
    background-color: rgb(167, 154, 154);
}
.homepage div:nth-child(even) {
    background-image: linear-gradient(rgb(167, 154, 154), black);
    flex: 300px;
} */


/* .contentpage-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
} */

/* .segment-1-left {
    flex: 2;
    padding: 10px;
} */

/* .earth {
    max-width: 100%;
    opacity: 60%;
} */


/* .segment-1-right {
    flex: 1;
    padding: 10px;
} */


