/* || fonts */ 
@font-face {
  font-family: SFO_Light;
  src: url(../public/SanFranciscoFont/SanFranciscoDisplay-Light.otf);
}

@font-face {
  font-family: SFO_Medium;
  src: url(../public/SanFranciscoFont/SanFranciscoDisplay-Medium.otf);
}

@font-face {
  font-family: SFO_Bold;
  src: url(../public/SanFranciscoFont/SanFranciscoDisplay-Bold.otf);
}

@font-face {
  font-family: SFO_Italic;
  src: url(../public/SanFranciscoFont/SanFranciscoText-RegularItalic.otf);
}

/* || general styles */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SFO_Light, arial;
  scroll-behavior: smooth;
  color: white;
}

li, a, p {
  font-family: SFO_Light, arial;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 17%;
  background-color: rgba(34, 34, 34, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
  border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display:inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: rgb(86, 171, 254);
}

.name {
  color: #48baaf;
  transition: all 0.3s ease 0s;
}

.surname {
  transition: all 0.3s ease 0s;
}

.surname:hover {
  color: rgb(255, 255, 49);
}

.name:hover {
  color: rgb(168, 78, 213);
}

a > div {
  display:inline-block;
  font-family: SFO_Medium;
  font-size: 21px;
}

.space {
  background: #141414;
  height: 66px;
}

/* ----------------------------- */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_section {
  display: flex;
  flex-direction: row;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */

  flex: 350px;
  width: 100%;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.about_component {
  display: flex;
  flex-direction: row;

  width: 900px;
}

.about_component_text {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding-right: 20px;
}

.profile_picture {
  border-radius: 15px;
}

.education_section {
  display: flex;
  flex-direction: row;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */

  flex: 300px;
  width: 100%;
  background: rgb(49,111,60);
  background: rgb(214,174,223);
  background: radial-gradient(circle, rgba(214,174,223,1) 0%, rgba(80,105,76,1) 22%, rgba(54,85,57,1) 28%, rgba(37,71,44,1) 30%, rgba(100,120,89,1) 42%, rgba(176,179,144,1) 77%);}

.education_component {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.education_component_text {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 850px;
}

.education_component_text > p {
  padding-top: 10px;
}

.education_component_text > p:nth-child(4n + 1) {
  font-family: SFO_Bold;
}

.education_component_text > p:nth-child(4n + 3) {
  font-family: SFO_Italic;
}

.extracurricular_section {
  display: flex;
  flex-direction: row;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */

  flex: 300px;
  width: 100%;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.extracurricular_component {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.extracurricular_component_text {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 850px;
}

.extracurricular_component_text > p {
  padding-top: 10px;
}

.extracurricular_component_text > p:nth-child(4n + 1) {
  font-family: SFO_Bold;
}

.extracurricular_component_text > p:nth-child(4n + 3) {
  font-family: SFO_Italic;
}


.Footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;
  background: linear-gradient(180deg, #2b2b2b 0%, #535353 100%);;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  width: 320px;
}

.socials img {
  width: 25px;
}

.socials * {
  color: black;
  font-family: SFO_Medium;
}

.socials a {
  text-decoration: underline;
}

.resume {
  color:rgb(221, 221, 221);
  font-family: SFO_Bold;
  text-decoration: underline;
}